<?xml version="1.0"?>
<config>
    <modules>
        <Onefeed_Catalogfeed>
            <version>0.1.0</version>
        </Onefeed_Catalogfeed>
    </modules>
    <global>
        <blocks>
            <catalogfeed>
                <class>Onefeed_Catalogfeed_Block</class>
            </catalogfeed>
        </blocks>
        <helpers>
            <catalogfeed>
                <class>Onefeed_Catalogfeed_Helper</class>
            </catalogfeed>
        </helpers>
        <models>
            <catalogfeed>
                <class>Onefeed_Catalogfeed_Model</class>
                <resourceModel>catalogfeed_mysql4</resourceModel>
            </catalogfeed>
        </models>
    </global>
    <crontab>
        <jobs>
            <onefeed>
                <run>
                    <model>catalogfeed/cron::generateFeed</model>
                </run>
            </onefeed>
        </jobs>
    </crontab>

    <admin>
        <routers>
            <catalogfeed>
                <use>admin</use>
                <args>
                    <module>Onefeed_Catalogfeed</module>
                    <frontName>admin_catalogfeed</frontName>
                </args>
            </catalogfeed>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <catalogfeed>
                    <file>catalogfeed.xml</file>
                </catalogfeed>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <onefeed_config>
            <onefeed_defaults>
                <delimeter>|</delimeter>
            </onefeed_defaults>
        </onefeed_config>
    </default>
</config>
